@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kufam', sans-serif;
    background-color: white;
}

/*This is the navigation*/
.navbar {
    position: sticky;
    top: 0;
    z-index:1000;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 18px 55px;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.navigation {
    margin-left: 30px;
    gap: 2px;
}

.logo {
    font-size: 26px;
    font-family: 'Kufam', 'regular';
    margin-left: 59px;
    margin-right: 20px;
}

.navbar a {
    margin: 20px;
    text-decoration: none;
    font-family: 'Kufam', 'regular';
    font-size: 16px;
    color: black;
    padding: 5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.navbar a:hover {
    color: white;
    background-color: #DE2929;
    border-radius: 6px;
    padding: 5px;
}

.searchbar {
    margin-left: 100px;
    width: 378px;
    background: #d9d9d9;
    padding: 9px 14px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
}

.searchbar input {
    color: black;
    border: none;
    background: #d9d9d9;
    font-style: italic;
    width: 100%;
    font-size: 14px;
    font-family: 'Kufam';
    outline: none;
    margin-left: 10px;
    margin-top: 2px;
}

.searchbar .search-icon {
    font-size: 15px;
    color: black;
}

.searchbar input::placeholder {
    color: white;
}

.heart_user {
    margin-left: 120px;
    font-size: 17px;
}

.heart {
    color: #DE2929;
    margin-right: 35px;
}

/*This is the hero*/
.hero {
    background-image: linear-gradient(rgba(116, 128, 142, 0.35), rgba(116, 128, 142, 0.35)), url("/SOURCE/images/bg hero.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 20px 50px;
    margin: 0;
    min-height: 45vh;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
}

.hero-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    max-width: 700px;
    font-size: 2.7rem;
    font-weight: bold;
    color: #fff;
    margin-top: -4rem;
    margin-bottom: 1rem;
    letter-spacing: 0.05rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
    max-width: 900px;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.hero-buttons {
    display: flex;
    gap: 2rem;
}

.hero-buttons button {
    border: none;
    cursor: pointer;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.2s;
}

.hero-buttons button:hover {
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.hero-buttons a {
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    font-size: 1.05rem;
    display: block;
    font-weight: 500;
    transition: background-color 0.2s;
}

.button_1 {
    background-color: #db2a2a;
}

.button_1 a {
    color: #fff;
}

.button_1:hover {
    background-color: #c02424;
}


/*This is the cards*/
.trendText {
    text-align: left;
    font-family: 'Kufam';
    margin-left: 8%;
    margin-bottom: 20px;

}
.trendText1 {
    text-align: left;
    font-family: 'Kufam';
    margin-left: 8%;
    margin-bottom: 20px;

}

#trend1 {
    margin-top: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.3px;
}
#trend2 {
    margin-top: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.3px;
}

.view-all-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.view-all {
    display: flex;
    margin-bottom: 22px;
    padding: 10px 20px 10px 20px;
    background: white;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Kufam', sans-serif;
    cursor: pointer;
    font-size: 1em;
    margin-right: 8.2%;
    transition: box-shadow 0.2s;
}

.view-all p {
    margin: 0;
    font-size: inherit;
    font-weight: 500;
}

.view-all:hover {
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.card {
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    font-family: 'Kufam', sans-serif;
    overflow: hidden;
    position: relative;
    transition: .2s ease;
}

.card:hover {
    transform: translateY(-4px);
}

.card-image {
    position: relative;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.tag {
    position: absolute;
    bottom: 14px;
    left: 18px;
    background-color: #FAFAFA;
    color: #000000;
    font-size: 15px;
    padding: 3px 13px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.favorite-icon {
    position: absolute;
    top: 14px;
    right: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(211, 211, 211, 0.52);
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    transition: 0.2s;
}

.favorite-icon:hover {
    color: #e63946;
    transform: scale(1.1);
    transition: 0.2s;
}

.card-content {
    padding: 14px 18px 4px 18px;
}

.card h3 {
    font-size: 1.23em;
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 2px;
    line-height: 1.2;
}

.card p {
    font-size: 0.95em;
    color: #757575;
    margin-bottom: 14px;
}

.card-details {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.time i {
    margin-right: 4px;
    color: #000000;
    font-size: 15px;
}

.rating {
    color: #000000;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.rating .fa-star {
    color: #FFC107;
    margin-right: 4px;
    font-size: 15px;
}

.card-tags {
    margin-bottom: 16px;
}

.meal-type {
    display: inline-block;
    background-color: #ffffff;
    color: #252525;
    font-size: 13px;
    padding: 2px 14px;
    border-radius: 6px;
    margin-right: 11px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.difficulty {
    display: inline-block;
    background-color: #3EAAED;
    color: #191919;
    font-size: 13px;
    padding: 2px 16px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.difficulty_ad {
    display: inline-block;
    background-color: #db2a2a;
    color: #191919;
    font-size: 13px;
    padding: 2px 16px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.view-recipe-btn {
    display: block;
    width: 92%;
    margin: 0 auto 16px auto;
    padding: 11px;
    background-color: #db2a2a;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    font-family: 'Kufam';
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background 0.15s;
}

.view-recipe-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.cards {
    display: grid;
    width: 85%;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 113px;
    margin-right: 113px;
    gap: 30px;
    row-gap: 60px;
}

.cards-container {
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    box-shadow: 0 6px 7px -1px rgba(0, 0, 0, 0.1);
}

/*This is the global cuisines*/
.view-all-container_1 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.global-cuisine {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;

}

.cuisines {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 0px;
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.cuisine-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 220px;
    margin: 5px 20px 15px 27px;
    overflow: hidden;
    transition: .2s ease;
}

.cuisine-card:hover {
    transform: translateY(-4px);
}

.type {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 14px 14px 0 0;
    display: block;
}

.card-label {
    margin-top: 25px;
    font-size: 1.2em;
    font-weight: 500;
    color: #191919;
    text-align: center;
    padding-bottom: 15px;
}

/*How cook&learn works*/
.how {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 115px;
    margin-top: 10px;
    box-shadow: 0 6px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.all_steps {
    background: #fff;
    border-radius: 8px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 350px;
    padding: 10px 30px 20px 30px;
    overflow: hidden;
    transition: .2s ease;
}

.all_steps:hover {
    transform: translateY(-4px);
}


.all_steps h1 {
    width: 60px;
    height: 60px;
    background-color: #db2a2a;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all_steps p {
    margin-top: 1rem;
}

/*Popular recipes*/
.cards-container_2 {
    padding-bottom: 50px;
    padding-top: 20px;
}

.user_icon {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}


.user_icon p {
    margin: 0;
    color: #000000;
}

.difficulty_inter {
    display: inline-block;
    background-color: #3EAAED;
    font-size: 13px;
    padding: 2px 16px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.difficulty_beginner {
    display: inline-block;
    background-color: rgb(157, 225, 55);
    font-size: 13px;
    padding: 2px 16px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


/*footer*/
footer {
    background: #db2a2a;
    color: white;
    padding: 40px 0 20px;
    font-family: 'Kufam';
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    width: 85%;
    margin: 0 auto 40px;
    margin-right: 50px;
}


.footer-section h3 {
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 20px;
}

.footer-section p {
    color: #000000;
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.95;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 12px;
}

.footer-section ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
    transition: opacity 0.2s;
}

.footer-section ul li a:hover {
    opacity: 0.8;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.social-icons a {
    color: rgb(0, 0, 0);
    font-size: 28px;
    transition: opacity 0.2s;
}

.social-icons a:hover {
    opacity: 0.8;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    color: #000000;
}

.footer-section1{
    margin-left: -70px;
}
.footer-section2{
    margin-left: 40px;
}
.footer-section3{
    margin-left: 45px;
}
.footer-section4{
    margin-left: 65px;
}
#Connect{
    margin-left: 36px;
}

@media (max-width: 600px) {
     html, body {
        min-width: 600px;
        width: 600px;
        margin: 0;
        padding: 0;          /* was 600px */
        overflow-x: hidden;
}

    .cards {
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
        margin-left: 90px;
    }

    .navbar{ 
        width: 100%;
        height: 200px;
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
         flex-wrap: wrap;
        
        
    }

    .logo {
        margin-top: 20px;
        margin-bottom: -5px;
        margin-left: 60px;
        margin-right: 75px;
    }

    .navigation {
        margin-left: 0px;
    }

    .searchbar {
        margin-top: -20px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .heart_user{
        position: absolute;
        top: 45px;
        left: 380px;
        margin-right: 0px;
    
    }

    .text {
        margin-left: 150px;
    }

    .searchContainer {
        margin-left: 150px;
    }

    #trend1 {
        margin-left: 5px;
    }


    .view-all-container {
        margin-left: 5px;

    }


    .cards-container {
        width: 100%;
    }

    .hero {
        width: 100%;
    }

    .hero h1 {
        margin-top: -50px;
    }
    .global-cuisine{
        text-align: center;
        margin-left: 90px;
        max-width: 70%;
        
        
    }
    .cuisines{
      width: 100%;
      margin-top: 75px;
        
    }
     .view-all-container_1 {
        position: static;
        margin-bottom: -80px;
        margin-left: 0px;
    }
    .how{
         margin-left: 0px;

    }
    .steps{
        width: 100%;
    }
    .trendText1{
        margin-left: 68px;
        margin-bottom: 60px;
    }
    .cards-container_2{
    width: 100%;
   }

    footer {
        width: 100%;
    }

    .footer-content {
        grid-template-columns: repeat(2, 2fr);
        /* single column */
        gap: 35px;
        text-align: center;
        margin-right: 90px;
        margin-left: 90px;
    }

    .footer-section1 {
        text-align: center;
        margin-left: 0;
    }

    .footer-section2 {
        text-align: center;
        margin-right: 100px;
    }

    .footer-section3 {
        text-align: center;
        margin-left: 0;
    }

    .footer-section4 {
        text-align: center;
        margin-right: 110px;
    }

    #Connect {
        margin-left: 0;
    }

    #discover{
        max-width:  150px;
        margin-left: 10px;
    }
}