@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kufam', sans-serif;
    background-color: white;
}

.navbar {
    position: sticky;
    top: 0;
    z-index:1000;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 18px 55px;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.navigation {
    margin-left: 30px;
    gap: 2px;
}
.logo {
    font-size: 26px;
    font-family: 'Kufam', 'regular';
    margin-left: 59px;
    margin-right: 20px;
}

.navbar a {
    margin: 20px;
    text-decoration: none;
    font-family: 'Kufam', 'regular';
    font-size: 16px;
    color: black;
    padding: 5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.navbar a:hover {
    color: white;
    background-color: #DE2929;
    border-radius: 6px;
    padding: 5px;
}

.searchbar {
    margin-left: 100px;
    width: 350px;
    background: #d9d9d9;
    padding: 10px 14px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
}

.searchbar input {
    color: black;
    border: none;
    background: #d9d9d9;
    font-style: italic;
    width: 100%;
    font-size: 14px;
    font-family: 'Kufam';
    outline: none;
    margin-left: 10px;
    margin-top: 2px;
}

.searchbar .search-icon {
    font-size: 15px;
    color: black;
}

.searchbar input::placeholder {
    color: white;
}

.heart_user {
    margin-left: 120px;
    font-size: 17px;
}

.heart {
    color: #DE2929;
    margin-right: 30px;
}

.main-section {
    width: 85%;
    margin: 50px auto 50px 7.5%; 
    display: flex;
    gap: 45px;
    align-items: start;
}

.recipe-card {
    max-width: 400px;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 18px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.41);
    overflow: hidden;
    transition: .2s ease;
    position: relative;
    margin: 60px auto;
}

.recipe-card:hover {
    transform: translateY(-3px);
}

.recipe-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.card-content {

    padding: 14px 28px;
    font-family: "Kufam";
}

.card-content h2 {
    font-size: 24px;
    font-weight: 900;
    margin-top: -10px;
    margin-bottom: 10px;
}

.card-content p {
    color: #757575;;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 18px;
}

.details {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    color: #000000;
    font-size: 14px;
    padding-bottom: 5px;
}

.tags {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.tag {
    background: #ffffff;
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.tag.level {
    background: #3EAAED;
}

.user_icon {
    display: flex;
    align-items: center;   
    gap: 10px;  
    margin-bottom: 15px;           
}


.user_icon p {
    margin: 0;
    color: #000000;
}


.ingredients-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 19px;
    font-family: "Kufam";
    text-align: center;
}

.ingredients-box {
    max-height: 523px; 
    overflow-y: auto;    
    padding-right: 10px;
    background: #ffffff;
    margin-left: 20px;
    padding: 54px 35px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.41);
    margin-bottom: 12px;
    font-family: "Kufam";
    font-size: 17.5px;
}

.ingredients-box h3 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 18px;
    text-align: center;
}

.ingredients-section .ingredients-box ol {
    counter-reset: step;
    list-style: none; 
    padding-left: 0;
}

.ingredients-section .ingredients-box ol li {
    counter-increment: step;
    position: relative;
    padding-left: 55px; 
    margin-bottom: 14px;
}

.ingredients-section .ingredients-box ol li::before {
    content: counter(step);
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background: #ffd000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Kufam', sans-serif;
    color: black;
    font-size: 16px;
    border: 2px solid #e6c200;
}


.favorite-icon {
    position: absolute;
    top: 14px;
    right: 16px;
    width: 40px;             
    height: 40px;            
    display: flex;            
    align-items: center;      
    justify-content: center;  
    font-size: 18px;          
    color: #ffffff;           
    background-color: rgba(211, 211, 211, 0.52); 
    border-radius: 50%;       
    box-shadow: 0 2px 6px rgba(0,0,0,0.13);
    cursor: pointer;
    transition: 0.2s;
}

.favorite-icon:hover {
    color: #e63946; 
    transform: scale(1.1);
    transition: 0.2s;
}


.tag.small {
    display: block;
    position: absolute;
    bottom: 14px;
    left: 18px;
    background-color: #FAFAFA;
    color: #252525;
    font-size: 15px;
    padding: 3px 13px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


.card-details {
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.time i {
    margin-right: 4px;
    color: #000000;
    font-size: 15px;
}

.rating {
    color: #000000;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.rating .fa-star {
    color: #FFC107;
    margin-right: 4px;
    font-size: 15px;
}


.card-tags {
    padding-left: 20px;
    margin-bottom: 16px;
}

.meal-type {
    display: inline-block;
    background-color: #ffffff;
    color: #252525;
    font-size: 13px;
    padding: 2px 14px;
    border-radius: 6px;
    margin-right: 11px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.difficulty {
    display: inline-block;
    background-color: #3EAAED;
    color: #191919;
    font-size: 13px;
    padding: 2px 16px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.see-more-container {
    position: absolute;
    bottom: -6%;
    right: 120px; 
    
}

.see-more {
    padding: 10px 18px;
    background: #e63946;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s, transform 0.2s;
}

.see-more:hover {
    background-color: #e8e8e8;
    color: #000000;
}

/*footer*/
footer {
    background: #db2a2a;
    color: white;
    padding: 40px 0 20px;
    font-family: 'Kufam';
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    width: 85%;          
    margin: 0 auto 40px; 
    margin-right: 50px;
}


.footer-section h3 {
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 20px;
}

.footer-section p {
    color: #000000;
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.95;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 12px;
}

.footer-section ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
    transition: opacity 0.2s;
}

.footer-section ul li a:hover {
    opacity: 0.8;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.social-icons a {
    color: rgb(0, 0, 0);
    font-size: 28px;
    transition: opacity 0.2s;
}

.social-icons a:hover {
    opacity: 0.8;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    color: #000000;
}


.footer-section1{
    margin-left: -60px;
}
.footer-section2{
    margin-left: 40px;
}
.footer-section3{
    margin-left: 45px;
}
.footer-section4{
    margin-left: 62px;
}
#Connect{
    margin-left: 36px;
}


@media (max-width: 600px) {
    html, body {
        min-width: 600px;
        width: 600px;
        margin: 0;
        padding: 0;          /* was 600px */
        overflow-x: hidden;
}

    .main-section {
        width: 100%;
        margin: 50px auto;
        margin-left: 7px;
        flex-direction: column; 
        gap: 20px;
    }

    .recipe-card {
    max-width: 80%;
    margin-left: 51px;
    transform: none;
    }

    .ingredients-section {
        max-width: 100%;
    }

    .card-content {
        padding: 15px 20px;
    }

    .card-content h2 {
        font-size: 20px;
    }

    .recipe-img {
        height: 200px;
    }

    .details {
        flex-direction: row;
        gap: 10px;

    }

    .tags {
        flex-wrap: wrap;
        gap: 10px;
    }

    .ingredients-box {
        max-width: 80%;
        margin: 0 auto 20px 0px;
        transform: translateX(50px);
    }

    .ingredients-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .ingredients-section .see-more-container {
        position: relative;
        margin-top:-10px;
        margin-left: 468px;
        bottom: -122%;
        right: 2%;
        margin-bottom: -30px;
    }


    .similar-grid {
        grid-template-columns: 1fr; 
        gap: 20px;
    }

    .sim-card h3 {
        font-size: 16px;
        margin: 8px 12px 4px;
    }

    .sim-card p {
        font-size: 13px;
        margin: 0 12px 10px;
    }

    .card-details {
        flex-direction: column;
        padding-left: 12px;
        gap: 6px;
    }

    .card-tags {
        padding-left: 12px;
        gap: 5px;
        flex-wrap: wrap;
    }

    .meal-type, .difficulty_ad {
        font-size: 12px;
        padding: 2px 10px;
        margin-bottom: 5px;
    }

    .view-recipe-btn {
        width: 95%;
        padding: 10px;
        font-size: 0.95em;
    }

    .favorite-icon {
        width: 36px;
        height: 36px;
        font-size: 16px;
        top: 10px;
        right: 10px;
    }

    .tag.small {
        font-size: 13px;
        padding: 2px 10px;
    }

    .navbar{ 
        width: 100%;
        height: 200px;
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
         flex-wrap: wrap;
        
    }
    .logo{
        margin-top: 20px;
        margin-bottom: -5px;
        margin-right:0;
        margin-left: 100px;
        margin-right: 100px;
    }
  
    .navigation{
        margin-left: 0px;
    }
    .searchbar{
        margin-top: -20px;
        margin-left: 100px;
        margin-right: 100px;
    }
    .heart_user{
        position: absolute;
        top: 45px;
        left: 380px;

        margin-right: 0px;
    
    }
    /*footer*/

        footer{
        
        width: 100%;
    } 

    .footer-content {
        grid-template-columns:repeat(2,2fr);/* single column */
        gap: 35px;
        text-align: center;
        margin-right: 90px;
        margin-left: 90px;
    }

    .footer-section1{
        text-align: center;
        margin-left: 0;
    }
    .footer-section2{
        text-align: center;
        margin-right: 100px;
    }
    .footer-section3{
        text-align: center;
        margin-left: 0;
    }
    .footer-section4 {
        text-align: center;
        margin-right: 110px;
    }

    #Connect {
        margin-left: 0;
    }
    #discover{
        max-width:  150px;
        margin-left: 10px;
    }
}

